---
import Layout from '../layouts/Layout.astro';
import VoiceCanvas from '../components/voice-canvas';
---

<Layout title="Welcome to Pitch Palette.">
	<main>
	<VoiceCanvas client:only />
	</main>
</Layout>

<style>
	main {
	
	}
	.astro-a {
		
	}
	h1 {
		/* */
	}
	.text-gradient {
	
	}
	.instructions {
		
	}
	.instructions code {
	
	}
	.instructions strong {
		
	}
	.link-card-grid {
		
	}
</style>
